@import "tailwindcss";

@layer components{
  .btn-primary{
    @apply px-4 py-2 bg-blue-600 text-white rounded-md
    hover:bg-blue-700
    hover:cursor-pointer
    focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
}